# Klaviyo privát API kulcs (teljes hozzáférés)
KLAVIYO_API_KEY=

# A master Klaviyo email sablon ID-ja, amit a kampányokhoz klónozunk
# (a legutóbbi kampányok sablonja: SU9CfB)
KLAVIYO_TEMPLATE_ID=

# Flask session titok
FLASK_SECRET_KEY=
